:root {
  --background-start-rgb: 240, 240, 240;
  --background-end-rgb: 240, 240, 240;
}

.component-section {
  justify-content: center;
  padding: 5rem;
  min-height: 100vh;
}

.input-conatiner {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 2rem;
}

.title {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  min-width: 250px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
